<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<userSettings>
        <GOL.Properties.Settings>
                <setting name="count" serializeAs="String">
                        <value>Game of Life</value>
                </setting>
                <setting name="universeX" serializeAs="String">
                        <value>50</value>
                </setting>
                <setting name="universeY" serializeAs="String">
                        <value>50</value>
                </setting>
                <setting name="deadCell" serializeAs="String">
                        <value>White</value>
                </setting>
                <setting name="liveCell" serializeAs="String">
                        <value>Purple</value>
                </setting>
                <setting name="gridColor" serializeAs="String">
                        <value>Black</value>
                </setting>
                <setting name="uniChoice" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="gridSelect" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="hudSelect" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="displayNeighbor" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="interval" serializeAs="String">
                        <value>100</value>
                </setting>
        </GOL.Properties.Settings>
    </userSettings>
</configuration>